.anchor
.DS_Store
**/.DS_Store
target
**/*.rs.bk
node_modules
test-ledger
.yarn
yarn-error.log
*wallet.json
*.env
*.env.*
!.env.test.localnet
!.env.test.devnet

wallet
*keypair.json
!tests/fixtures/wallet
